.u-section-1 .u-sheet-1 {
  min-height: 400px;
}.u-section-2 .u-sheet-1 {
  min-height: 711px;
}

.u-section-2 .u-group-1 {
  min-height: 91px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 26px 797px 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -53px 0 0 auto;
  padding: 11px 29px 12px 28px;
}

.u-section-2 .u-group-2 {
  min-height: 60px;
  height: auto;
  width: 1193px;
  margin: 20px -53px -67px auto;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-2 .u-search-1 {
  height: auto;
  width: 441px;
  min-height: 52px;
  margin: 8px 25px 0 auto;
}

.u-section-2 .u-search-icon-1 {
  height: 30px;
  width: 30px;
}

.u-section-2 .u-table-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-2 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-2 .u-table-cell-2 {
  font-weight: bold;
}

.u-section-2 .u-table-cell-3 {
  font-weight: bold;
}

.u-section-2 .u-table-cell-4 {
  font-weight: bold;
}

.u-section-2 .u-table-cell-5 {
  font-weight: bold;
}

.u-section-2 .u-table-cell-6 {
  font-weight: bold;
}

.u-section-2 .u-table-cell-7 {
  font-weight: bold;
}

.u-section-2 .u-table-cell-8 {
  font-weight: bold;
}

.u-section-2 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-2 .u-table-cell-10 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-11 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-12 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-13 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-14 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-15 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-2 .u-table-cell-16 {
  font-weight: 700;
  font-size: 1rem;
}

.u-block-8808-27 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 597px;
  }

  .u-section-2 .u-btn-1 {
    transition-duration: 0.5s;
  }

  .u-section-2 .u-group-2 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 4px 0;
  }

  .u-section-2 .u-search-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-search-icon-1 {
    padding: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 377px;
  }

  .u-section-2 .u-group-2 {
    margin-bottom: -52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    min-height: 112px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -52px;
    padding-bottom: 11px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-search-1 {
    width: 282px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    min-height: 144px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 14px;
    margin-right: auto;
    padding: 0 7px 1px 6px;
  }

  .u-section-2 .u-group-2 {
    margin-top: 55px;
    margin-bottom: -58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-2 .u-search-1 {
    min-height: 45px;
    margin-top: -39px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-2 .u-search-icon-1 {
    height: 27px;
    width: 27px;
    padding: 0;
  }

  .u-section-2 .u-table-1 {
    margin-top: 43px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 711px;
}

.u-section-3 .u-group-1 {
  min-height: 91px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  margin: 26px 797px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -53px 0 0 auto;
  padding: 11px 29px 12px 28px;
}

.u-section-3 .u-group-2 {
  min-height: 60px;
  height: auto;
  width: 1193px;
  margin: 20px -53px -67px auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-3 .u-search-1 {
  height: auto;
  width: 441px;
  min-height: 52px;
  margin: 8px 25px 0 auto;
}

.u-section-3 .u-search-icon-1 {
  height: 30px;
  width: 30px;
}

.u-section-3 .u-table-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-3 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-3 .u-table-cell-2 {
  font-weight: bold;
}

.u-section-3 .u-table-cell-3 {
  font-weight: bold;
}

.u-section-3 .u-table-cell-4 {
  font-weight: bold;
}

.u-section-3 .u-table-cell-5 {
  font-weight: bold;
}

.u-section-3 .u-table-cell-6 {
  font-weight: bold;
}

.u-section-3 .u-table-cell-7 {
  font-weight: bold;
}

.u-section-3 .u-table-cell-8 {
  font-weight: bold;
}

.u-section-3 .u-table-cell-9 {
  font-weight: 700;
}

.u-section-3 .u-table-cell-10 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-3 .u-table-cell-11 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-3 .u-table-cell-12 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-3 .u-table-cell-13 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-3 .u-table-cell-14 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-3 .u-table-cell-15 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-3 .u-table-cell-16 {
  font-weight: 700;
  font-size: 1rem;
}

.u-block-154f-27 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-text-1 {
    margin-right: 597px;
  }

  .u-section-3 .u-btn-1 {
    transition-duration: 0.5s;
  }

  .u-section-3 .u-group-2 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 4px 0;
  }

  .u-section-3 .u-search-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-3 .u-search-icon-1 {
    padding: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 377px;
  }

  .u-section-3 .u-group-2 {
    margin-bottom: -52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    min-height: 112px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -52px;
    padding-bottom: 11px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-search-1 {
    width: 282px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    min-height: 144px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 14px;
    margin-right: auto;
    padding: 0 7px 1px 6px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 55px;
    margin-bottom: -58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-search-1 {
    min-height: 45px;
    margin-top: -39px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-3 .u-search-icon-1 {
    height: 27px;
    width: 27px;
    padding: 0;
  }

  .u-section-3 .u-table-1 {
    margin-top: 43px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 711px;
}

.u-section-4 .u-group-1 {
  min-height: 91px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 26px 797px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -53px 0 0 auto;
  padding: 11px 29px 12px 28px;
}

.u-section-4 .u-group-2 {
  min-height: 60px;
  height: auto;
  width: 1193px;
  margin: 20px -53px -67px auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-4 .u-search-1 {
  height: auto;
  width: 441px;
  min-height: 52px;
  margin: 8px 25px 0 auto;
}

.u-section-4 .u-search-icon-1 {
  height: 30px;
  width: 30px;
}

.u-section-4 .u-table-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-4 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-4 .u-table-cell-2 {
  font-weight: bold;
}

.u-section-4 .u-table-cell-3 {
  font-weight: bold;
}

.u-section-4 .u-table-cell-4 {
  font-weight: bold;
}

.u-section-4 .u-table-cell-5 {
  font-weight: bold;
}

.u-section-4 .u-table-cell-6 {
  font-weight: bold;
}

.u-section-4 .u-table-cell-7 {
  font-weight: 700;
}

.u-section-4 .u-table-cell-8 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-table-cell-9 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-table-cell-10 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-table-cell-11 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-4 .u-table-cell-12 {
  font-weight: 700;
  font-size: 1rem;
}

.u-block-1b24-27 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 597px;
  }

  .u-section-4 .u-btn-1 {
    transition-duration: 0.5s;
  }

  .u-section-4 .u-group-2 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 4px 0;
  }

  .u-section-4 .u-search-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-4 .u-search-icon-1 {
    padding: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 377px;
  }

  .u-section-4 .u-group-2 {
    margin-bottom: -52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-group-1 {
    min-height: 112px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: -52px;
    padding-bottom: 11px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-search-1 {
    width: 282px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    min-height: 144px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 14px;
    margin-right: auto;
    padding: 0 7px 1px 6px;
  }

  .u-section-4 .u-group-2 {
    margin-top: 55px;
    margin-bottom: -58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-search-1 {
    min-height: 45px;
    margin-top: -39px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-4 .u-search-icon-1 {
    height: 27px;
    width: 27px;
    padding: 0;
  }

  .u-section-4 .u-table-1 {
    margin-top: 43px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 711px;
}

.u-section-5 .u-group-1 {
  min-height: 91px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: 26px 797px 0 0;
}

.u-section-5 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: -53px 0 0 auto;
  padding: 11px 29px 12px 28px;
}

.u-section-5 .u-group-2 {
  min-height: 60px;
  height: auto;
  width: 1193px;
  margin: 20px -53px -67px auto;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 0;
}

.u-section-5 .u-search-1 {
  height: auto;
  width: 441px;
  min-height: 52px;
  margin: 8px 25px 0 auto;
}

.u-section-5 .u-search-icon-1 {
  height: 30px;
  width: 30px;
}

.u-section-5 .u-table-1 {
  margin-top: 83px;
  margin-bottom: 60px;
}

.u-section-5 .u-table-header-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
}

.u-section-5 .u-table-cell-2 {
  font-weight: bold;
}

.u-section-5 .u-table-cell-3 {
  font-weight: bold;
}

.u-section-5 .u-table-cell-4 {
  font-weight: bold;
}

.u-section-5 .u-table-cell-5 {
  font-weight: bold;
}

.u-section-5 .u-table-cell-6 {
  font-weight: bold;
}

.u-section-5 .u-table-cell-7 {
  font-weight: bold;
}

.u-section-5 .u-table-cell-8 {
  font-weight: bold;
}

.u-section-5 .u-table-cell-9 {
  font-weight: bold;
}

.u-section-5 .u-table-cell-10 {
  font-weight: bold;
}

.u-section-5 .u-table-cell-12 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-13 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-14 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-15 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-16 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-17 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-18 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-19 {
  font-weight: 700;
  font-size: 1rem;
}

.u-section-5 .u-table-cell-20 {
  font-weight: 700;
  font-size: 1rem;
}

.u-block-e9f2-27 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    height: auto;
  }

  .u-section-5 .u-text-1 {
    margin-right: 597px;
  }

  .u-section-5 .u-btn-1 {
    transition-duration: 0.5s;
  }

  .u-section-5 .u-group-2 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 4px 0;
  }

  .u-section-5 .u-search-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-5 .u-search-icon-1 {
    padding: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 377px;
  }

  .u-section-5 .u-group-2 {
    margin-bottom: -52px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    min-height: 112px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    margin-right: 197px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -52px;
    padding-bottom: 11px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 26px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-search-1 {
    width: 282px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-group-1 {
    min-height: 144px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 14px;
    margin-right: auto;
    padding: 0 7px 1px 6px;
  }

  .u-section-5 .u-group-2 {
    margin-top: 55px;
    margin-bottom: -58px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-search-1 {
    min-height: 45px;
    margin-top: -39px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-5 .u-search-icon-1 {
    height: 27px;
    width: 27px;
    padding: 0;
  }

  .u-section-5 .u-table-1 {
    margin-top: 43px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 400px;
}