<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />

<li class="u-nav-item">
    @if (ViewBag.chao != null)
    {
        <span>@ViewBag.chao</span> <br />
        <a href="/TaiKhoan/LogOut">Sign out</a>
    }
</li>