<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />

<li class="u-nav-item">
    @if (ViewBag.chao != null)
    {
        <span>@ViewBag.chao</span>
        <a class="u-active-custom-color-1 u-black u-button-style u-hover-custom-color-1 u-nav-link" href="/KhachHang/Cart">Cart</a>
        <a class="u-active-custom-color-1 u-black u-button-style u-hover-custom-color-1 u-nav-link" href="/TaiKhoan/LogOut">Sign out</a>
        
    }
</li>