@using ShopGiay.Models;
@model List<LOAISP>


@foreach (var item in Model)
{
    <li class="u-nav-item">
        <a class="u-black u-button-style u-nav-link" href="/KhachHang/HTSP_TheoLoai/@item.MALOAI">@item.TENLOAI</a>
    </li>
}