@using ShopGiay.Models;

<li class="u-nav-item">
    <a href="/KhachHang/HTSP_TheoGia/duoi500k">Dưới 500k</a>
</li>
<br />
<li class="u-nav-item">
    <a href="/KhachHang/HTSP_TheoGia/tu500den700">Từ 500k - 700k</a>
</li>
<br />
<li class="u-nav-item">
    <a href="/KhachHang/HTSP_TheoGia/tren700">Trên 700k</a>
</li>